/* index page */

.title {
  font-size: 1.2em;
  margin: 1em auto;
  text-align: center;
  padding: 3.2em;
}

.title h1, h3 {
  font-family: 'Dawning of a New Day', cursive;
}

.blurb {
  font-size: 1.2em;
  padding: 3em;
  background: rgba(255, 255, 255, .7);
}

.blurb p {
  text-align: center;
  margin: 0 auto;
  font-family: 'PT Serif', serif;
}

.post-zone {
  background: rgba(34, 28, 18,.7); 
  color: white;
  font-family: 'PT Serif', serif;
}

.post-zone p {
  font-family: 'PT Serif', serif;
}

.post-zone ul {
  margin: 0 auto;
}

li {
    display: inline-block;
}

.post-image {
  border: 1px solid white;
  border-radius: 25px;
  margin: 2em;
}

.post-item {
  padding: 2em;
}

.post-link {
  color: white;
  font-family: 'Dawning of a New Day', cursive;
}

/* header */

.naver {
  background: rgba(255, 255, 255, .7);
  padding: .5em;
  border-bottom: 1px solid #e8e8e8;
}

.naver a {
  color: black;
  font-family: 'Dawning of a New Day', cursive;
  font-size: 1.5em;
  margin-right: 2em;
}

/* post template */
.little-page {
  border-radius: 25px;
  background: rgba(255, 255, 255, .7);
  padding: 1em;
  margin: 1em;
}

.little-page p {
  font-family: 'PT Serif', serif;
}

.little-page h1 {
  font-family: 'Dawning of a New Day', cursive;
}

/* footer */
.site-footer {
  background: rgba(34, 28, 18,.9); 
  padding: .5em;
  color: white;
  border-top: 1px solid #e8e8e8;
}